@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<EcomPulse.Web.ViewModel.OrderVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Total</th>
        <th>Order Date</th>
        <th>Shipping Address</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.Total.ToString("C")</td>
            <td>@order.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>@order.ShippingAddress</td>
            <td>@order.Status</td>
            <td>
                <a asp-action="Edit" asp-route-id="@order.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@order.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@order.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
